{% extends 'study/main/base.html' %} {% block title %}TheRoom{% endblock %} {% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'index.css' %}">


<!-- 중간 카테고리 -->
<nav class="navbar navbar-expand-md navbar-dark shadow-sm bg-dark" id="mid-nav-container">
    <div class="container-fluid">
        <ul class="navbar-nav mx-auto mb-2 mb-md-0">
            <li class="nav-item mx-3">
                <a class="nav-link" href="">상담 신청</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link active" href="">1:1 문의</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link" aria-current="page" href="">연습실 대여</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link" href="">더룸 리뷰</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
<h3 class="menu_title mb-4 mt-5"> 커뮤니티</h3>
<div class="divline"></div>
<div class="qna_index">
    <ul class="p-2">
        <li class="col-6" id="qna_title">제목</li>
        <li class="col-3"id="qna_date">작성일</li>
        <li class="col-3"id="qna_progress">진행</li>
    </ul>
</div>
<div class="divline"></div>
<div class="qna_list">
    <a href="#">
        <ul class="py-3 px-2">
            <li class="col-6" id="qna_list_title">안녕하세요</li>
            <li class="col-3"id="qna_list_date">1999-03-08</li>
            <li class="col-3"id="qna_list_progress">답변 완료</li>
        </ul>
    </a>
    <div class="divline3"></div>
</div>
<div class="qna_list">
    <a href="#">
    <ul class="py-3 px-2">
        <li class="col-6" id="qna_list_title">안녕하세요</li>
        <li class="col-3"id="qna_list_date">1999-03-08</li>
        <li class="col-3"id="qna_list_progress">답변 완료</li>
    </ul>
</a>
    <div class="divline3"></div>
</div>
<div class="qna_list">
    <a href="#">
        <ul class="py-3 px-2">
            <li class="col-6" id="qna_list_title">안녕하세요</li>
            <li class="col-3"id="qna_list_date">1999-03-08</li>
            <li class="col-3"id="qna_list_progress">답변 완료</li>
        </ul>
    </a>
    <div class="divline3"></div>
</div>
<div class="qna_list">
    <a href="#">
        <ul class="py-3 px-2">
            <li class="col-6" id="qna_list_title">안녕하세요</li>
            <li class="col-3"id="qna_list_date">1999-03-08</li>
            <li class="col-3"id="qna_list_progress">답변 완료</li>
        </ul>
    </a>
    <div class="divline3"></div>
</div>
<div class="qna_list">
    <a href="#">
        <ul class="py-3 px-2">
            <li class="col-6" id="qna_list_title">안녕하세요</li>
            <li class="col-3"id="qna_list_date">1999-03-08</li>
            <li class="col-3"id="qna_list_progress">답변 완료</li>
        </ul>
    </a>
    <div class="divline3"></div>
</div>
<div class="qna_list">
    <a href="#">
        <ul class="py-3 px-2">
            <li class="col-6" id="qna_list_title">안녕하세요</li>
            <li class="col-3"id="qna_list_date">1999-03-08</li>
            <li class="col-3"id="qna_list_progress">답변 완료</li>
        </ul>
    </a>
    <div class="divline3"></div>
</div>
<div class="qna_list">
    <a href="#">
        <ul class="py-3 px-2">
            <li class="col-6" id="qna_list_title">안녕하세요</li>
            <li class="col-3"id="qna_list_date">1999-03-08</li>
            <li class="col-3"id="qna_list_progress">답변 완료</li>
        </ul>
    </a>
    <div class="divline3"></div>
</div>
<div class="qna_list">
    <a href="#">
        <ul class="py-3 px-2">
            <li class="col-6" id="qna_list_title">안녕하세요</li>
            <li class="col-3"id="qna_list_date">1999-03-08</li>
            <li class="col-3"id="qna_list_progress">답변 완료</li>
        </ul>
    </a>
    <div class="divline3"></div>
</div>
<div class="qna_list">
    <a href="#">
        <ul class="py-3 px-2">
            <li class="col-6" id="qna_list_title">안녕하세요</li>
            <li class="col-3"id="qna_list_date">1999-03-08</li>
            <li class="col-3"id="qna_list_progress">답변 완료</li>
        </ul>
    </a>
    <div class="divline3"></div>
</div>
<div class="qna_list">
    <a href="#">
        <ul class="py-3 px-2">
            <li class="col-6" id="qna_list_title">안녕하세요</li>
            <li class="col-3"id="qna_list_date">1999-03-08</li>
            <li class="col-3"id="qna_list_progress">답변 완료</li>
        </ul>
    </a>
    <div class="divline3"></div>
</div>
<div class="writing_link_div">
<a class="writing_link px-4 py-2" href="#"> 글쓰기</a>
</div>
<nav aria-label="Page navigation">
    <ul class="pagination mt-3">
        <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
        </li>
    </ul>
    </nav>
</div>
{% endblock %}