{% extends 'study/main/base.html' %} {% block title %}TheRoom{% endblock %} {% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'index.css' %}">


<!-- 중간 카테고리 -->
<nav class="navbar navbar-expand-md navbar-dark shadow-sm bg-dark" id="mid-nav-container">
    <div class="container-fluid">
        <ul class="navbar-nav mx-auto mb-2 mb-md-0">
            <li class="nav-item mx-3">
                <a class="nav-link" href="">상담 신청</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link active" href="">1:1 문의</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link" aria-current="page" href="">연습실 대여</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link" href="">더룸 리뷰</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container qna">
<h3 class="menu_title mb-4 mt-5"> 커뮤니티</h3>
<div class="divline"></div>
<div class="qna_index">
    <ul class="p-2">
        <li class="col-6" id="qna_title">제목</li>
        <li class="col-3"id="qna_date">작성일</li>
        <li class="col-3"id="qna_progress">진행</li>
    </ul>
</div>
<div class="divline"></div>

<div class="qna_list">
    {% for qna in qnas %}
    <a href="#">
        <ul class="py-3 px-2">
            <li class="col-6" id="qna_list_title">{{ qna.title }}</li>
            <li class="col-3"id="qna_list_date">{{ qna.date|date:"Y-m-d" }}</li>
            <li class="col-3"id="qna_list_progress">{% if qna.answer %}답변완료{% else %}답변대기{% endif %}</li>
        </ul>
    </a>
    <div class="divline3"></div>
    {% endfor %}
</div>

<div class="writing_link_div">
<a class="writing_link px-4 py-2" href="#"> 글쓰기</a>
</div>

    <ul class="pagination mt-3 justify-content-center">
    </ul>
</div>

<div style="display: none;" id="num">{{num}}</div>

<script src="{% static 'main.js' %}"></script>
{% endblock %}