{% extends 'study/main/base.html' %} {% block title %}TheRoom{% endblock %} {% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'index.css' %}">

<!-- 중간 카테고리 -->
<nav class="navbar navbar-expand-md navbar-light shadow-sm sticky-top mid-nav">
    <div class="container-fluid">
        <ul class="navbar-nav mx-auto mb-md-0">
            <li class="nav-item mx-3">
                <a class="nav-link" href="{% url 'lesson' %}">레슨 신청</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link active" href="{% url 'qna_view' 1 %}">1:1 문의</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link" aria-current="page" href="{% url 'enroll' %}">연습실 대여</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link" href="{% url 'review'%}">더 룸 리뷰</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container qna" id="container">
    <h3 class="menu_title mb-4 mt-5"> 1:1 문의</h3>
    <div class="divline mb-5"></div>
    <div class="detail_view">
        <div class="detailView_con">
            <div class="detail_box">
                <table class="detail_table" id="detail_table">
                    <tr class="first_col" id="first_col">
                        <td class="title_title">제목</td>
                        <td class="detail_title" colspan="3" id="title" style="text-align: start;">{{qna.title}}</td>
                        <td class="title_date">작성일</td>
                        <td class="detail_date">{{qna.date|date:"Y-m-d"}}</td>
                    </tr>
                    <tr class="second_col" id="second_col">
                        <td colspan="6" id="content">
                            <div class="detail_content my-2" style="text-align: start;">
                                {{qna.text | safe}}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="btn_container">
                <div class="buttons mt-2 row g-1">
                    <div class="col" id="modify_btn">
                        <button class="modify_btn py-1 px-4" onclick="modify_func()">수정</button>
                    </div>
                    <div class="col" id="delete_btn">
                        <button class="detail_delete_btn">
                            <input type="submit" class="delete_btn  py-1 px-4" value="삭제"
                                onclick="del_Alert()"></button>
                    </div>
                </div>
            </div>
            <div class="comment_box mb-4">
                <div class="comment_title">
                    답변
                </div>
                <form action="" method="POST">
                    {% if request.user.is_staff %}
                    {% csrf_token %}
                    <table class="detail_comment_table">
                        <td>
                            <textarea name="answer" class="comment_input" placeholder="답변을 입력해주세요" cols="30"
                                rows="10">{{qna.answer}}</textarea>
                        </td>
                    </table>
                    <div class="detail_comment_btn">
                        <input type="submit" value="답변하기" class="comment_btn py-1">
                    </div>
                </form>
                {% else %}
                {% if qna.answer %}
                <div class="comment_notice py-4" style="text-align: left;">{{qna.answer}}</div>{% else %}
                <div class="comment_notice py-4">아직 답변이 등록되지않았습니다{% endif %}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="writingView_con d-none">
            <div class="writing_box mt-5">
                <table class="writing_table">
                    <tr class="first_col">
                        <td class="title_title">제목</td>
                        <td><input name="title" type="text" class="title_input" autofocus="autofocus"
                                required="required" autocomplete="off"></td>
                    </tr>
                    <tr class="second_col">
                        <td colspan="2" style="padding: 1px;">
                            <div class="toolbar px-2 py-1">

                                <select class="fontSize form-select" name="job" id='fonstSize_select'>
                                    <option value="3">10px</option>
                                    <option value="4">12px</option>
                                    <option value="5">16px</option>
                                    <option value="6">20px</option>
                                    <option value="7">30px</option>
                                </select>

                                <div class="editor_link mx-4">
                                    <a href="" data-command='bold'>
                                        <i class='fa fa-bold'></i>
                                    </a>
                                    <a href="" data-command='italic'>
                                        <i class='fa fa-italic'></i>
                                    </a>
                                    <a href="" data-command='underline'>
                                        <i class='fa fa-underline'></i>
                                    </a>
                                    <a href="" data-command='strikeThrough' style="margin-right: 8px;">
                                        <i class='fa fa-strikethrough'></i>
                                    </a>

                                    <a href="" data-command='justifyLeft'>
                                        <i class='fa fa-align-left'></i>
                                    </a>
                                    <a href="" data-command='justifyCenter'>
                                        <i class='fa fa-align-center'></i>
                                    </a>
                                    <a href="" data-command='justifyRight'>
                                        <i class='fa fa-align-right'></i>
                                    </a>
                                    <a href="" data-command='justifyFull' style="margin-right: 8px;">
                                        <i class='fa fa-align-justify'></i>
                                    </a>
                                </div>
                            </div>
                            <div name="text" id="content_input" class="content_input editor" contenteditable="true"
                                required="required">
                                {{qna.text | safe}}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="btn_container">
                <div class="buttons mt-2 row g-0">
                    <div class="col">
                        <input type="submit" value="등록" class="enroll_btn py-1 px-4">
                    </div>
                    <div class="col">
                        <button class="writing_close_btn py-1 px-4" onclick="back_func()">취소</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5 mb-2">
            <button class="detail_list_btn"><a class="list_btn" href="{% url 'qna_view' 1 %}">목록</a></button>
        </div>
    </div>
</div>


<script text="javascript/text">

    function modify_func() {
        $('.detailView_con').addClass('d-none');
        $('.writingView_con').removeClass('d-none');

    }

    function back_func() {
        $('.detailView_con').removeClass('d-none');
        $('.writingView_con').addClass('d-none');
    }

    function del_Alert() {
        let delConfirm = confirm("이 글을 삭제하시겠습니까?");

    }
</script>
<script>
    document.querySelectorAll('.toolbar a')
        .forEach(aEl => aEl.addEventListener('click', function (e) {
            e.preventDefault();
            const command = aEl.dataset.command;

            document.execCommand(command);

        }));

    document.getElementById('fonstSize_select').addEventListener('change', function (e) {
        document.execCommand('fontSize', false, e.target.value);
    });
    function text_input() {
        $('#text').val($('#text_box').html())
    }
</script>

{% endblock %}