{% extends 'study/main/base.html' %} {% block title %}TheRoom{% endblock %} {% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'index.css' %}">

    <!-- 중간 카테고리 -->
    <nav class="navbar navbar-expand-md navbar-dark shadow-sm bg-dark" id="mid-nav-container">
        <div class="container-fluid">
            <ul class="navbar-nav mx-auto mb-2 mb-md-0">
                <li class="nav-item mx-3">
                    <a class="nav-link active" href="">상담 신청</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" href="">1:1 문의</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" aria-current="page" href="">연습실 대여</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" href="">더룸 리뷰</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
    <h3 class="menu_title mb-4 mt-5"> 1:1문의 <span class="submenu_writing">/ 글쓰기</span> </h3> 
    <div class="divline"></div>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="writing_box row">
                <div class=" mt-4">
                    <span class="input_title pe-2" >제목</span>
                    <input name="title" type="text" class="title_input" >
                </div>
                
                <div class="content_box mt-3">
                    <div class="mb-1">내용</div>
                    <input name="text" type="text" class="content_input">
                </div>
            </div>

            <div class="btn_container">
                <div class="buttons mt-2 row g-1">
                    <div class="col">
                <input type="submit" value="등록" class="enroll_btn py-1 px-4"></button>
                </div>
                <div class="col">
                    <button class="writing_close py-1 px-4">
                    <a href="#">취소</a> </button>
                </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}