{% extends 'study/main/base.html' %} {% block title %}TheRoom{% endblock %} {% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'index.css' %}">

    <!-- 중간 카테고리 -->
    <nav class="navbar navbar-expand-md navbar-light shadow-sm sticky-top mid-nav" id="mid-nav-container">
        <div class="container-fluid">
            <ul class="navbar-nav mx-auto mb-md-0">
                <li class="nav-item mx-3">
                    <a class="nav-link" href="{% url 'lesson' %}">레슨 신청</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link active" href="{% url 'qna_view' 1 %}">1:1 문의</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" aria-current="page" href="{% url 'enroll' %}">연습실 대여</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" href="">더 룸 리뷰</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
    <h3 class="menu_title mb-4 mt-5"> 1:1문의 <span class="submenu_writing">/ 글쓰기</span> </h3> 
    <div class="divline"></div>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="writing_box mt-4">
                <table class="writing_table">
                    <tr class="first_col">
                        <td class="title_title">제목</td>
                        <td><input name="title" type="text" class="title_input" autofocus="autofocus" required="required" autocomplete="off"></td>
                    </tr>
                    <tr class="second_col">
                        <td colspan="2">
                            <textarea name="text" class="content_input" cols="50" rows="10" required="required"></textarea>
                    </td>
                    </tr>
                </table>
                <div class="writing_notice mt-1">문의 후 10분간 재문의가 제한되니 유의해주세요!</div>
            </div>

            <div class="btn_container">
                <div class="buttons mt-1 row g-0">
                    <div class="col">
                        <input type="submit" value="등록" class="enroll_btn py-1 px-4">
                    </div>
                <div class="col">
                    <a class="writing_close py-1 px-4" href="{% url 'qna_view' 1 %}">취소</a>
                </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}