{% extends 'study/main/base.html' %} {% block title %}TheRoom{% endblock %} {% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'index.css' %}">

<!-- 중간 카테고리 -->
<nav class="navbar navbar-expand-md navbar-light shadow-sm sticky-top mid-nav">
    <div class="container-fluid">
        <ul class="navbar-nav mx-auto mb-md-0">
            <li class="nav-item mx-3">
                <a class="nav-link" href="{% url 'lesson' %}">레슨 신청</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link active" href="{% url 'qna_view' 1 %}">1:1 문의</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link" aria-current="page" href="{% url 'enroll' %}">연습실 대여</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link" href="{% url 'review_view' 1%}">더 룸 리뷰</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container review" id="container">
    <h3 class="menu_title mb-4 mt-5"> 더 룸 리뷰</h3>
    <div class="divline mb-5"></div>
    <div class="detail_view">
        <!--리뷰 디테일 테이블-->
        <div class="detailView_con">
            <div class="detail_box">
                <table class="detail_table" id="detail_table">
                    <tr class="first_col" id="first_col">
                        <td class="title_title">제목</td>
                        <td class="detail_title" colspan="3" id="title" style="text-align: start;">{{review.title}}</td>
                        <td class="title_date">작성자</td>
                        <td class="detail_date">{{review.date|date:"Y-m-d"}}</td>
                    </tr>
                    <tr class="second_col" id="second_col">
                        <td colspan="6" id="content">
                            <div class="detail_content my-2" style="text-align: start;">
                                {{review.text | safe}}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="btn_container">
                <div class="buttons mt-2 row g-1">
                    <div class="col">
                        <button class="modify_btn py-1 px-4" onclick="modify_func()">수정</button>
                    </div>
                    <div class="col">
                        <button class="delete_btn py-1 px-4" data-bs-toggle="modal" data-bs-target="#cancelModal">삭제</button>
                    </div>
                </div>
            </div>
        </div>

        <!--리뷰 수정 테이블-->
        <div class="writingView_con d-none">
            <div class="writing_box mt-5">
                <table class="writing_table">
                    <tr class="first_col">
                        <td class="title_title">제목</td>
                        <td><input name="title" type="text" class="title_input" autofocus="autofocus"
                                required="required" autocomplete="off"></td>
                    </tr>
                    <tr class="second_col">
                        <td colspan="2" style="padding: 1px;">
                            <div class="toolbar px-2 py-1">

                                <select class="fontSize form-select" name="job" id='fonstSize_select'>
                                    <option value="3">10px</option>
                                    <option value="4">12px</option>
                                    <option value="5">16px</option>
                                    <option value="6">20px</option>
                                    <option value="7">30px</option>
                                </select>

                                <div class="editor_link mx-4">
                                    <a href="" data-command='bold'>
                                        <i class='fa fa-bold'></i>
                                    </a>
                                    <a href="" data-command='italic'>
                                        <i class='fa fa-italic'></i>
                                    </a>
                                    <a href="" data-command='underline'>
                                        <i class='fa fa-underline'></i>
                                    </a>
                                    <a href="" data-command='strikeThrough' style="margin-right: 8px;">
                                        <i class='fa fa-strikethrough'></i>
                                    </a>

                                    <a href="" data-command='justifyLeft'>
                                        <i class='fa fa-align-left'></i>
                                    </a>
                                    <a href="" data-command='justifyCenter'>
                                        <i class='fa fa-align-center'></i>
                                    </a>
                                    <a href="" data-command='justifyRight'>
                                        <i class='fa fa-align-right'></i>
                                    </a>
                                    <a href="" data-command='justifyFull' style="margin-right: 8px;">
                                        <i class='fa fa-align-justify'></i>
                                    </a>
                                </div>
                            </div>
                            <div name="text" id="content_input" class="content_input editor" contenteditable="true"
                                required="required">
                                {{review.text | safe}}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="btn_container">
                <div class="buttons mt-2 row g-0">
                    <div class="col">
                        <input type="submit" value="등록" class="enroll_btn py-1 px-4">
                    </div>
                    <div class="col">
                        <button class="writing_close_btn py-1 px-4" onclick="back_func()">취소</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5 mb-2">
            <button class="detail_list_btn"><a class="list_btn" href="{% url 'review_view' 1 %}">목록</a></button>
        </div>
    </div>

    <!-- Modal: 상담 취소 -->
    <div class="modal fade" id="cancelModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="cancelModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cancelModalLabel">리뷰 삭제</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="mb-0">이 리뷰를 삭제하시겠습니까?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">아니오</button>
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal" onclick="cancel()">예</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script text="javascript/text">

    function modify_func() {
        $('.detailView_con').addClass('d-none');
        $('.writingView_con').removeClass('d-none');

    }

    function back_func() {
        $('.detailView_con').removeClass('d-none');
        $('.writingView_con').addClass('d-none');
    }

    function del_Alert() {
        let delConfirm = confirm("이 글을 삭제하시겠습니까?");

    }
</script>
<script>
    document.querySelectorAll('.toolbar a')
        .forEach(aEl => aEl.addEventListener('click', function (e) {
            e.preventDefault();
            const command = aEl.dataset.command;

            document.execCommand(command);

        }));

    document.getElementById('fonstSize_select').addEventListener('change', function (e) {
        document.execCommand('fontSize', false, e.target.value);
    });
    function text_input() {
        $('#text').val($('#text_box').html())
    }
</script>


{% endblock %}