{% extends 'study/main/base.html' %} {% block title %}더 룸{% endblock %} {% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'index.css' %}">


<!-- 중간 카테고리 -->
<nav class="navbar navbar-expand-md navbar-light shadow-sm sticky-top mid-nav">
    <div class="container-fluid">
        <ul class="navbar-nav mx-auto mb-md-0">
            <li class="nav-item mx-3">
                <a class="nav-link" href="{% url 'lesson' %}">레슨 신청</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link" href="{% url 'qna_view' 1 %}">1:1 문의</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link" aria-current="page" href="{% url 'enroll' %}">연습실 대여</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link active" href="{% url 'review_view' 1%}">더 룸 리뷰</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container qna">

    <div class="row gx-md-5 mt-2 alert-container-parent">
        <!-- 에러메시지 -->
        <div class="alert-container">
            {% for message in messages %}
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </symbol>
            </svg>

            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                    <use xlink:href="#exclamation-triangle-fill"/>
                </svg>
                <strong>{{ message }}</strong> {{error}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
    </div>

    <h3 class="menu_title mb-4 mt-5"> 더 룸 리뷰</h3>
    <div class="divline"></div>
    <div class="qna_index">
        <ul class="p-2">
            <li class="col-6" id="qna_title">제목</li>
            <li class="col-3" id="qna_date">작성일</li>
            <li class="col-3" id="qna_progress">작성자</li>
        </ul>
    </div>
    <div class="divline"></div>

    <div class="qna_list">
    </div>


    <div class="writing_link_div">
        <a class="writing_link px-4 py-2" href="{% url 'review_enroll'%}"> 리뷰쓰기</a>
    </div>
    <div class="view_bottom">
        <ul class="pagination mt-3 justify-content-center">
        </ul>

        <div style="display: none;" id="num">{{num}}</div>
    </div>
</div>
</div>

<script src="{% static 'review.js' %}"></script>
{% endblock %}