{% extends 'study/main/base.html' %} {% block title %}더 룸{% endblock %} {% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'index.css' %}">


<!-- 상단 배너 -->
<div id="carouselBanner" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'img/banner/1.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>보컬 레슨</h5>
                <p>저희 더 룸 보컬&기타교실은 수업 외에도 언제든 방문하셔서 연습할 수 있습니다.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/banner/2.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="color: black">
                <h5>작사 커뮤니티</h5>
                <p>보컬과 기타 외에 작사 작곡 클래스도 여러분을 기다리고 있습니다!</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/banner/3.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>피아노 레슨</h5>
                <p>퇴근길, 혹은 하루 일과를 마친 후 무료하고 허무한 마음을 음악으로 채워보아요.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/banner/4.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>기타&보컬 커뮤니티</h5>
                <p>음악 동아리 활동을 위해 다른 멤버들과 함께 취미반 커뮤니티를 형성하여 준비하는 시간을 함께 가집니다:)</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselBanner"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselBanner"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<!-- 중간 카테고리 -->
<nav class="navbar navbar-expand-md navbar-light shadow-sm sticky-top mid-nav">
    <div class="container-fluid">
        <ul class="navbar-nav mx-auto mb-md-0">
            <li class="nav-item mx-3">
                <a class="nav-link" href="{% url 'lesson' %}">레슨 신청</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link" href="{% url 'qna_view' 1 %}">1:1 문의</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link" aria-current="page" href="{% url 'enroll' %}">연습실 대여</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link" href="{% url 'review_view' 1%}">더 룸 리뷰</a>
            </li>
        </ul>
    </div>
</nav>


<!-- 유튜브 -->
<div class="py-3 text-center container">
    <div class="row py-3 py-md-5 gx-0">
        <div class="col-lg-6 col-md-8 mx-auto">
            <p class="my-0">더 룸을 소개합니다</p>
            <h3 class="fw-bold">레슨 영상</h3>
            <div class="stick"></div>
        </div>
    </div>
    <div class="row flex-column flex-md-row mb-3 gx-3">
        <div class="col mb-3 mb-md-0">
            <div class="youtubeWrap">
                <iframe src="https://www.youtube.com/embed/9s5nuM31TqU"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                </iframe>
            </div>
        </div>
        <div class="col">
            <div class="youtubeWrap">
                <iframe src="https://www.youtube.com/embed/moFB-j5iY2E"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row d-none d-md-flex flex-column flex-md-row mb-lg-5 gx-3">
        <div class="col mb-3 mb-md-0">
            <div class="youtubeWrap">
                <iframe src="https://www.youtube.com/embed/AwrFPJk_BGU"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>
        <div class="col">
            <div class="youtubeWrap">
                <iframe src="https://www.youtube.com/embed/zn4gB8ZVS5c"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>


<!-- 고객 리뷰 -->
<div class="py-3 text-center container" id="schedule">
    <div class="row py-3 py-md-5 gx-0">
        <div class="col-lg-6 col-md-8 mx-auto">
            <p class="my-0">생생한 후기</p>
            <h3 class="fw-bold">고객 리뷰</h3>
            <div class="stick"></div>
        </div>
    </div>
    <div class="row mb-lg-5 gx-0 mw-100">
        <div id="carouselReview" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselReview" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselReview" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselReview" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner rounded">
                <div class="carousel-item active">
                    <img src="{% static 'img/review/1.jpg' %}" class="d-block w-100" alt="...">
                    <div class="review-caption-right d-block" style="color: black">
                        <h5 class="review-title mb-2 mb-lg-4">홍길동님의 후기</h5>
                        <p class="review-text">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.</p>
                        <span class="btn btn-dark btn-sm btn-more">더 보기</span>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/review/2.jpg' %}" class="d-block w-100" alt="..." id="reviewImg">
                    <div class="review-caption-left d-block">
                        <h5 class="review-title mb-2 mb-lg-4">김짱구님의 후기</h5>
                        <p class="review-text">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.</p>
                        <span class="btn btn-dark btn-sm btn-more">더 보기</span>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/review/3.jpg' %}" class="d-block w-100" alt="...">
                    <div class="review-caption-right d-block">
                        <h5 class="review-title mb-2 mb-lg-4">고등어님의 후기</h5>
                        <p class="review-text">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.</p>
                        <span class="btn btn-dark btn-sm btn-more">더 보기</span>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselReview"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselReview"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>


<!-- 강사진 -->
<div class="py-3 text-center container">
    <div class="row py-3 py-md-5 gx-0">
        <div class="col-lg-6 col-md-8 mx-auto">
            <p class="my-0">더 룸의 멘토님들</p>
            <h3 class="fw-bold">강사진</h3>
            <div class="stick"></div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-2 row-cols-md-4 g-3 g-md-4 mb-lg-5">
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'img/mentor/1.jpg' %}" class="card-img-top" alt="...">
                <div class="card-header">박수진</div>
                <div class="card-body">
                    <ul class="card-text text-start ps-3">
                        <li>경희대대학원 포스트모던음악과</li>
                        <li>동아방송대 실용음악과보컬전공</li>
                        <li>현 KAC한국예술원 실용음악계열 외래교수</li>
                        <li>울랄라세션, 매드클라운 소속 어베인뮤직엔터테인먼트 트레이너</li>
                        <li>부산 청소년 가요제 은상</li>
                        <li>부산 일본 가요제 대상</li>
                        <li>가스펠 그룹 헤리티지 전 멤버(소프라노)</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <small class="text-muted">보컬 강사</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'img/mentor/2.jpg' %}" class="card-img-top" alt="...">
                <div class="card-header">포스트맨 성태</div>
                <div class="card-body">
                    <ul class="card-text text-start ps-3">
                        <li>그룹 포스트맨 멤버</li>
                        <li>2005 엠투엠 2집 데뷔</li>
                        <li>2010 ~ 2012 혜천대학교 실용음악과 출강</li>
                        <li>2013 호서예술전문학교 실용음악과 출강</li>
                        <li>2017~  한국예술원 출강 중</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <small class="text-muted">보컬 강사</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'img/mentor/3.jpg' %}" class="card-img-top" alt="...">
                <div class="card-header">박소현</div>
                <div class="card-body">
                    <ul class="card-text text-start ps-3">
                        <li>작사 동아리 리더</li>
                        <li>서경대학교 문화콘텐츠학부 싱어송라이터 과정 졸업 (복수전공 철학)</li>
                        <li>작사 수업 진행 경험 다수</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <small class="text-muted">작사 강사</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'img/mentor/4.jpg' %}" class="card-img-top" alt="...">
                <div class="card-header">손예빈</div>
                <div class="card-body">
                    <ul class="card-text text-start ps-3">
                        <li>전 드림홈스쿨 문화센터 중,고등 밴드부강사</li>
                        <li>재즈다,부기우기 등 재즈클럽공연</li>
                        <li>달리아-널위한기도 기타세션참여</li>
                        <li>개인레슨경험 다수</li>
                        <li>계룡군문화축제 프린지공연 다수 참여</li>
                        <li>'monofeed' 전담기타세션으로 활동 중</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <small class="text-muted">기타 강사</small>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 연습실 사진 -->
<div class="py-3 text-center container">
    <div class="row py-3 py-md-5 gx-0">
        <div class="col-lg-6 col-md-8 mx-auto">
            <p class="my-0">쾌적한 환경</p>
            <h3 class="fw-bold">연습실</h3>
            <div class="stick"></div>
        </div>
    </div>
    <div class="row mb-3">
        <!-- 좌측 슬라이드 -->
        <div class="col-md-8">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    {% for img in imgs %}
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{forloop.counter0}}"
                    class="{% if forloop.counter0 == 0 %}active{% endif%}" aria-current="true" aria-label="Slide {{forloop.counter}}"></button>
                    {% endfor %}
                </div>
                <div class="carousel-inner rounded">
                    {% for img in imgs %}
                    <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif%}">
                        <img src="{{img.pic.url}}" class="d-block w-100" alt="이미지를 불러올 수 없습니다.">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <!-- 우측 고정 이미지 -->
        <div class="col-md-4 d-none d-md-block mt-4 mt-md-0">
            <img src="{% static 'img/room/4.jpg' %}" class="d-block w-100 rounded" alt="이미지를 불러올 수 없습니다.">
            <img src="{% static 'img/room/5.jpg' %}" class="d-block w-100 mt-4 rounded" alt="이미지를 불러올 수 없습니다.">
        </div>
    </div>
</div>


<!-- 지도 -->
<div class="py-3 text-center container" id="location">
    <div class="row py-3 py-md-5 gx-0">
        <div class="col-lg-6 col-md-8 mx-auto">
            <p class="my-0">위치</p>
            <h3 class="fw-bold">오시는 길</h3>
            <div class="stick"></div>
        </div>
    </div>
    <div class="row pb-3 gx-0" id="map-box">
        <div class="col bg-dark rounded" id="map"></div>
        <script>
            var filter = "win16|win32|win64|mac";
            if(navigator.platform){
                if(0 > filter.indexOf(navigator.platform.toLowerCase())){
                    var lv = 5 // (모바일) 지도의 확대 레벨
                }
                else{
                    var lv = 4 // (PC) 지도의 확대 레벨
                }
            }

            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                    center: new kakao.maps.LatLng(37.560603, 126.924556), // 지도의 중심좌표
                    level: lv // 지도의 확대 레벨
                };

            var map = new kakao.maps.Map(mapContainer, mapOption);

            var imageSrc = '{% static 'img/marker.png' %}', // 마커이미지의 주소입니다
                imageSize = new kakao.maps.Size(70, 70), // 마커이미지의 크기입니다
                imageOption = {
                    offset: new kakao.maps.Point(35, 70)
                }; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.

            // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
            var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
                markerPosition = new kakao.maps.LatLng(37.5597959162956, 126.92418462694194); // 마커가 표시될 위치입니다

            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                position: markerPosition,
                image: markerImage // 마커이미지 설정
            });

            // 마커가 지도 위에 표시되도록 설정합니다
            marker.setMap(map);

            // 커스텀 오버레이에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
            var content = '<div class="customoverlay">' +
                '  <a href="http://naver.me/xUS12jzE" target="_blank">' +
                '    <span class="title">복합문화공간 더 룸</span>' +
                '  </a>' +
                '</div>';

            // 커스텀 오버레이가 표시될 위치입니다
            var position = new kakao.maps.LatLng(37.5597959162956, 126.92418462694194);

            // 커스텀 오버레이를 생성합니다
            var customOverlay = new kakao.maps.CustomOverlay({
                map: map,
                position: position,
                content: content,
                yAnchor: 1
            });

        </script>
    </div>
    <div class="row mb-lg-5 gx-0 text-start bg-light border rounded">
        <p class="px-3 mt-3 mb-0"><i class="fas fa-map-marker-alt"></i>&nbsp;
            <strong>주소</strong>:&nbsp;
            서울 마포구 양화로21길 39</p>
        <p class="px-3"><i class="fas fa-walking"></i>&nbsp;
            <strong>오시는 길</strong>:&nbsp;
            홍대입구역 3번 출구에서 '술퍼마켓' 과 'gs25'를 지나 조금만 직진 (도보 1분 거리)</p>
    </div>
</div>


<!--신청하기 float버튼-->
<div class="row justify-content-center">
    <a class="enrollbtn px-5 py-3 mx-4" href="{% url 'enroll' %}">
        <span style="font-weight: bold;">신청</span>하러 가기</a>
</div>
{% endblock %}